.action{
    display: inline-block;
}

.checked{
    color: orange;
}
select{
    width: 70%;
    display: inline-block;
    height: 40px;    
    text-align: center;
    border-color: chocolate;
    font-size: unset;
    cursor: pointer;
}
.my-rate{
    background-color: purple;
    color: white;
}