<fieldset class="border p-2" *ngIf="filters.length > 0">
  <div class="categories">
    <h3>Categories</h3>
    <div class="form-check filters-genres">
      <!--NGFOR-->
      <div *ngFor="let category of filters" class="category-filter">
        <input
          class="form-check-input"
          type="checkbox"
          value="{{ category._id }}"
          [checked]="category.check"
          (click)="clickOnFilter( category._id )"
        />
        <label class="form-check-label" for="{{ category._id }}">
          {{ category._id }}</label
        ><span>({{ category.count }})</span>
      </div>
    </div>
  </div>
</fieldset>
