<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!-- CAROUSEL -->
    <ng-container *ngIf="slideCategories">
      <div
        *ngFor="let page of slideCategories; let i = index"
        class="carousel-item"
        [ngClass]="{ active: i === 0 }"
      >
        <div class="container">
          <div class="row">
            <app-category-card
              *ngFor="let slide of page"
              [category]="slide"
              class="category-card"
              (categorySelect)="redirect($event)"
              [ngClass]="{ 'col-2': page.length === 6 ,'col-3': page.length === 4,'col-6': page.length === 2, 'col-4': page.length === 3 }"
            ></app-category-card>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="slideGames">
      <div
        *ngFor="let page of slideGames; let i = index"
        class="carousel-item"
        [ngClass]="{ active: i === 0 }"
      >
        <div class="container">
          <div class="row">
            <app-game-card
              *ngFor="let slide of page"
              [game]="slide"
              class="game-card"
              [ngClass]="{ 'col-2': page.length === 6 ,'col-3': page.length === 4,'col-6': page.length === 2, 'col-4': page.length === 3 }"
            ></app-game-card>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <a
    class="carousel-control-prev"
    href="#carousel"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a
    class="carousel-control-next"
    href="#carousel"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
