<div class="navbar-buttons btn-group buttons">
    <button
      class="custom-button login btn btn-outline-success"
      id="navbar-login"
    >
      <span>
        <i class="fa fa-user" id="login-icon">
          <span data-tr="login">Login</span>
        </i>
      </span>
      <span>
        <div
          class="USER"
          id="login-icon"
        >
          <img style="max-width: 30px" src="" />
          <span>User</span>
        </div>
      </span>
    </button>

    <a
      class="custom-button shopping-cart btn btn-outline-success"
      href=""
      id="navbar-shopping-cart"
    >
      <span>
        <i class="fa fa-bell"></i>
      </span>
    </a>
  </div>