.btn{
    background-color: purple;
    color: white !important;
    border: purple 1px solid;
}

.btn:hover{
    background-color: white;
    color: purple !important;
    border: purple 1px solid;
}

span{
    font-size: 20px
}
.btn:focus{
    box-shadow: none;
}