<div class="row-g-1 row">
  <app-game-card
    *ngFor="let game of results"
    [game]="game"
    class="col-3 product-shop">
  </app-game-card>
</div>

<div class="app-game-card"
  [hidden]="!loading">
  Loading articles...
</div>

<div class="app-game-card"
  [hidden]="loading || results.length">
  No articles are here... yet.
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">

    <li class="page-item"
      [ngClass]="{'active': pageNumber === currentPage}"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">

      <a class="page-link" >{{ pageNumber }}</a>

    </li>

  </ul>
</nav>
